<div class="container mt-5">
  <div class="row justify-content-center">
    <h3 class="h3">サイクリスト一覧</h3>
  </div>
  <% @users.each do |user| %>
    <div class="row mt-5 justify-content-center mx-auto">
      <div class="col-lg-2 col-md-6 order-md-1 mx-auto text-center">
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, fallback: "no-image.png",size: "150x150", class: "mx-auto" %>
        <% end %>
      </div>
      <div class="col-lg-2 col-md-6 order-md-3 mx-auto text-center">
        <%= link_to user.username, user_path(user) %>
      </div>
      <div class="col-lg-6 col-md-6 order-md-2 mx-auto text-center">
        <%= user.profile %>
      </div>
      <div class="col-lg-2 col-md-6 order-md-4 mx-auto text-center">
        投稿数: <%= user.bikes.count %>
      </div>
    </div>
  <% end %>
</div>
