<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        自転車詳細の編集
      </h1>
    </div>
  </div>
</section>

<% if @bike.errors.any? %>
  <div class="notification is-danger">
    <h2><%= @bike.errors.count %>個のエラーがあるため、更新できませんでした。</h2>
    <ul>
      <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @bike do |f| %>

          <div class="field">
            <%= f.label :title, "自転車の車種", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :body, "パーツの詳細", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <%= f.submit "更新する", class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>