<div class="container mt-5">
  <div class="row justify-content-center">
    <h3 class="h3">自転車一覧</h3>
  </div>
  <% @bikes.each do |bike| %>
    <div class="row mt-5 justify-content-center">
      <div class="col-lg-2 col-md-6 order-md-1 mb-2 d-flex justify-content-center align-items-center">
        <%= link_to bike_path(bike) do %>
          <%= attachment_image_tag bike, :image, size: "500x500", class: "img-fluid" %>
        <% end %>
      </div>
      <div class="col-lg-2 col-md-6 order-md-3 mb-2 d-flex justify-content-center align-items-center">
        <%= link_to bike.title, bike_path(bike) %>
      </div>
      <div class="col-lg-6 col-md-6 order-md-2 mb-2 d-flex justify-content-center align-items-center">
        <%= link_to bike.user.username, user_path(bike.user) %>
      </div>
      <div class="col-lg-2 col-md-6 order-md-4 mb-2 d-flex justify-content-center align-items-center">
        <% if user_signed_in? %>
          <% if current_user.already_favorited?(bike) %>
            <%= link_to bike_favorites_path(bike), method: :delete do %>
              <i class="fas fa-heart mr-2"></i>
            <% end %>
            <%= bike.favorites.count %>
          <% else %>
            <%= link_to bike_favorites_path(bike), method: :post do %>
              <i class="far fa-heart mr-2"></i>
            <% end %>
            <%= bike.favorites.count %>
          <% end %>
        <% else %>
          <i class="fas fa-heart mr-2"></i>
          <%= bike.favorites.count %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


