<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="card-img-top">
            <%= attachment_image_tag @bike, :image, size: "400x400" %>
          </div>
          <h5 class="card-title"><%= @bike.title %></h5>
          <h6 class="card-subtitle">自転車のパーツ</h6>
          <p class="card-text"><%= simple_format @bike.body %></p>
          <p class="card-text">
            <small class="text-muted">更新日:<%= @bike.updated_at.strftime("%Y-%m-%d") %></small>
          </p>
          <% if current_user.already_favorited?(@bike) %>
            <%= link_to bike_favorites_path(@bike), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to bike_favorites_path(@bike), method: :create do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= @bike.favorites.count %>

          <% if @bike.user.id == current_user.id %>
            <%= link_to "編集画面へ", edit_bike_path(@bike), class: "btn btn-success" %>
            <%= link_to "削除する", bike_path(@bike), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <h5 class="card-title">
          <%= link_to @bike.user.username, user_path(@bike.user) %>
        </h5>
        <div class="card-block">
          <p class="control">
            <%= @bike.user.profile %>
          </p>
        </div>
        <%= link_to user_path(@bike.user), class: "panel-block" do %>
        <span class="card-icon">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <%= @bike.user.username %>さんのページへ
      <% end %>
      </div>
    </div>
  </div>
</div>