<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'CHARIAPP', bikes_path, class: "navbar-brand" %>
    <%= link_to "マイページ", user_path(current_user), class: "navbar-brand nav-item" %>


    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "新規投稿", new_bike_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "自転車一覧", bikes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "サイクリスト一覧", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <%= link_to 'CHARIAPP', root_path, class: "navbar-brand" %>

      <%= link_to "ログイン", new_user_session_path, class: "nav-item btn btn-outline-primary" %>

      <%= link_to "新規登録", new_user_registration_path, class: "nav-item btn btn-outline-success ml-2" %>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="Navber" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "自転車一覧", bikes_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "サイクリスト一覧", users_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>