<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <%= render "layouts/shim" %>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    
    <%= yield %>
    <%= render "layouts/scripts" %>
  </body>
</html>
