<!DOCTYPE html>
<html>
  <head>
    <title>CHARIAPP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a549c7b881.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <% if flash[:notice]%>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-primary" role="alert"><strong><%= alert %></strong></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'CHARIAPP', root_path, class: "navbar-brand" %>
      <button type="button" class="btn btn-primary navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿", new_bike_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "自転車一覧", bikes_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "サイクリスト一覧", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div id="Navber" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "自転車一覧", bikes_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "サイクリスト一覧", users_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
